<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Four51.APISDK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Four51.APISDK.Properties.Settings>
            <setting name="Core_Four51Address_Address" serializeAs="String">
                <value>http://www.four51.com/services/Address.asmx</value>
            </setting>
            <setting name="Core_Four51WebCostCenter_CostCenter" serializeAs="String">
                <value>http://www.four51.com/services/CostCenter.asmx</value>
            </setting>
            <setting name="Core_Four51WebGroup_Group" serializeAs="String">
                <value>http://www.four51.com/services/Group.asmx</value>
            </setting>
            <setting name="Core_Four51WebProduct_Product" serializeAs="String">
                <value>http://www.four51.com/services/Product.asmx</value>
            </setting>
            <setting name="Core_Four51User_User" serializeAs="String">
                <value>http://www.four51.com/services/User.asmx</value>
            </setting>
            <setting name="Four51_APISDK_Four51OrderFields_OrderField" serializeAs="String">
                <value>http://www.four51.com/services/OrderField.asmx</value>
            </setting>
            <setting name="Four51_APISDK_Four51SpendingAccount_SpendingAccount"
                serializeAs="String">
                <value>http://www.four51.com/services/SpendingAccount.asmx</value>
            </setting>
            <setting name="Four51_APISDK_Four51PurchaseOrder_PurchaseOrder"
                serializeAs="String">
                <value>http://www.four51.com/services/PurchaseOrder.asmx</value>
            </setting>
            <setting name="Four51_APISDK_Four51Order_Order" serializeAs="String">
                <value>http://www.four51.com/services/order.asmx</value>
            </setting>
        </Four51.APISDK.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
